/* layout.html.twig styles */

*{
    box-sizing: border-box;
}

body{
    font-family: Lato,Oxygen,Arial,sans-serif;
    font-size: 16px;
    color: black;
    background-color: black;
    background-size: cover;
    overflow-x: hidden;
}

.cover{
    position: relative;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#blinking{
    color: #2A9FD6 ;
    font-size: 2em;
}

.border{
    padding: 8px;
    border : 4px solid #2A9FD6 ;
    background-color: black;
    color: white;
}

.login-field{
    line-height: 1.5em;
    font-size: 1.5em;
    margin: 5px;
}

#login-form #_submit{
    margin-top: 30px;
}

.padding-none {
    padding: 0;
}

.btn-primary{
    background-color: #2A9FD6;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}