<header class="container-fluid">
    <ol class="breadcrumb border-radius-none">
        {% for crumb  in breadcrumbs %}
            {% if not loop.last %}
                <li class="breadcrumb-item"><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
            {% else %}
                <li class="breadcrumb-item active">{{ crumb.name }}</li>
            {% endif %}
        {% endfor %}
    </ol>
</header>
