<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="menu-bottom-line">
            <a class="toggle-menu" href="#"><i class=" fa fa-bars" aria-hidden="true"></i><span style="margin-left:10px;">{{ "menu"|trans }}</span></a>
        </li>
        <li>
            <a href="#" class="nav-parent"><i class="fa fa-user-circle-o " aria-hidden="true"> </i> <span style="margin-left:10px;">{{ 'profile'|trans }}</span><b class="fa fa-angle-down"></b></a>
            <ul class="ninja submenu">
                <li>
                    <a href="#"><i class="fa fa-edit"></i> <span>{{ 'edit'|trans }}</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cog"></i> <span style="margin-left:10px;">{{ 'change.password'|trans }}</span></a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> <span style="margin-left:10px;">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ path('panel.article.list') }}"> <i class="fa fa-list " aria-hidden="true"> </i> <span style="margin-left:10px;">{{ 'article.list'|trans }}</span> </a>
        </li>
        <li>
            <a href="#"> <i class="fa fa-puzzle-piece" aria-hidden="true"> </i> <span style="margin-left:10px;"> Section</span> </a>
        </li>
    </ul>

</nav>

