{% extends '@Panel/layout.html.twig' %}
{% form_theme form with ['PanelBundle:Form:default_form_layout.html.twig', _self] %}

{% block main %}
    {{ form_start(form, {action: path('panel.category.save')}) }}

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 panel-entity">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 panel-entity">
        {{ form_label(form.slug) }}
        {{ form_widget(form.slug) }}
        {{ form_errors(form.slug) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right panel-entity">
        <button type="submit" class="btn btn-default">{{ 'save'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}