{% extends '@Panel/layout.html.twig' %}

{% block main %}

    <table class="table table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'name'|trans }}</th>
            <th scope="col">{{ 'slug'|trans }}</th>
            <th scope="col">{{ 'options'|trans }}</th>
        </tr>
        {% for category in paginator %}
            <tr {{ edited == category ? 'style="background-color: #999999"' : '' }} >
                <td scope="row">{{ loop.index }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.slug }}</td>
                <td><a class="fa fa-edit" href="{{ path('panel.category.edit', {'id': category.id}) }}" title="{{ 'edit'|trans }}"></a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}