{% extends '@App/layout.html.twig' %}

{#{% block pagination %}#}
    {#{{ knp_pagination_render(paginator) }}#}
{#{% endblock %}#}

{% block articles %}

    {% for project in paginator %}
        <article class="single-article {{ loop.last ? '' : 'bottom-line' }}">
            <h2 class="article-title">
                {{ project.name }}
            </h2>
            <div class="article-content">
                {{ project.content|markdown }}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ project.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}%;">
                        <span class="sr-only">{{ project.progress }}% {{ 'complete'|trans|capitalize }}</span>
                    </div>
                </div>
                {#<a class="btn btn-lg btn-read-more" href="{{ path('app.project.articles.list', {'id' : project.id}) }}">{{ 'article.list'|trans }}</a>#}
            </div>
        </article>
    {% else %}
        <span class="text-info">{{ 'project.sorry.not.found'|trans }}</span>
    {% endfor %}
{% endblock %}