{% form_theme form with ['AppBundle:Form:comment_form_layout.html.twig', _self] %}

<h3><i class="fa fa-comment" aria-hidden="true"></i>{{ 'comment.leave'|trans }}</h3>

{{ form_start(form, {action: path('api.comment.add')}) }}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 comment-entity">
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_errors(form.userName) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 comment-entity">
        {{ form_label(form.userName) }}
        {{ form_widget(form.userName) }}
        {{ form_errors(form.userName) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 comment-entity">
        {{ form_label(form.userEmail) }}
        {{ form_widget(form.userEmail) }}
        {{ form_errors(form.userName) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 comment-entity">
        {{ form_label(form.userPage) }}
        {{ form_widget(form.userPage) }}
        {{ form_errors(form.userName) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right comment-entity">
        <button type="submit" class="btn btn-default">{{ 'comment.add' }}</button>
    </div>
{{ form_end(form) }}