<h2 class="comments-title"><i class="fa fa-comments" aria-hidden="true"></i>{{ 'comments'|trans }}</h2>
<ol class="comment-list">
        <li id="comment-x" style="display: none;">
            {% include '@App/comment/show.html.twig' %}
        </li>
    {% for comment in comments %}
        <li id="comment-{{ comment.id }}" class="{{ loop.first == false ? 'intern' : '' }}">
            {% include '@App/comment/show.html.twig' with {'comment': comment} %}
        </li>
    {% endfor %}
</ol>