<article class="container-comment-{{ comment.id|default('x') }}">
    <div class="comment-header">
        <div class="comment-author">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <b>{{ comment.userName|default('WaveDev') }}</b>
            <span>{{ 'comment.left.by'|trans }}:</span>
        </div>
        <div class="comment-link">
            <a href="#comment-{{ comment.id|default('x') }}">
                <i class="fa fa-calendar"></i>
                <time datetime="{{ comment.addDate|default('now')|date('Y-m-d') }}">
                    {{ comment.addDate|default('now')|date('d-m-Y') }}
                </time>
            </a>
        </div>
    </div>
    <div class="comment-content">
        {{ comment.content|default('') }}
    </div>
</article>
