{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 'assets/css/bootswatch.min.css'
        'assets/css/font-awesome.min.css'
        'assets/css/simplemde.min.css'
        'assets/css/bootstrap-datepicker3.min.css'
        'assets/css/panel.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% set breadcrumbs = {"Home": {'url': "/", 'name':"Home"}, "Library": {'url': "/library", 'name':"Library"}, "Data": {'url': "/library/data", 'name':"Data"} } %}
    {% include '@Panel/menu/default.html.twig' %}
    {% include '@Panel/menu/breadcrumbs.html.twig' with breadcrumbs %}
    <main class="container-fluid">
        {% block main %}

        {% endblock %}
    </main>
{% endblock %}

{% block javascripts %}
    {% javascripts '@jquery_bootstrap'
        'assets/js/bootstrap-datepicker.min.js'
        'assets/js/simplemde.min.js'
        'assets/js/panel.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}