{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 'assets/css/bootstrap.min.css'
        'assets/css/font-awesome.min.css'
        'assets/css/simplemde.min.css'
        'assets/css/custom.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

    {% include '@App/menu/default.html.twig' %}
    <header class="container">
    {% block header %}
            <a class="page-header" href="{{ path('app.homepage') }}"><h1 class="page-name text-center">WaveDev</h1></a>
            <h2 class="page-description text-center">
                {{ 'wavedev.site.description'|trans }}
            </h2>
            <div class="contact-links text-center">
                <a href="{{ github_link }}" target="_blank" rel="me">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
                <a href="{{ linkedin_link }}" target="_blank" rel="me">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a href="{{ twitter_link }}" target="_blank" rel="me">
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
            </div>
            <section id="topBarSection" class="row">
                <form id="searchForm" class="input-group input-group-lg">
                    <span class="input-group-btn">
                        <button class="toggle-menu btn btn-default border-radius-none" type="button"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
                    </span>
                    <input name="phrase" type="text" class="form-control" placeholder="{{ 'search'|trans}}">
                    <span class="input-group-btn">
                        <button class="btn btn-default border-radius-none" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </form>
            </section>
    {% endblock %}
    </header>
    <main class="container">
    {% block main %}
        {% block pagination %}
        {% endblock %}
        <section class="row list-section">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% block articles %}
            {% endblock %}
            </div>
        </section>
        {{ block('pagination') }}
    {% endblock %}
    </main>

    <footer class="container">
    {% block footer %}
        <section class="row additionals-section">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                {% block categories %}
                    {{ render(controller('AppBundle:Category:list')) }}
                {% endblock %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                {% block tags %}
                    {{ render(controller('AppBundle:Tag:list')) }}
                {% endblock %}
            </div>
        </section>
        <div class="row text-center footer-custom">
            Copyright <i class="fa fa-copyright"></i> WaveDev
        </div>
    {% endblock %}
    </footer>
{% endblock %}
{% block javascripts %}
    {% javascripts
        '@jquery_bootstrap'
        'assets/js/front.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}