{% set colSize = pageCount <= 1 ? 12 : pageCount == 2 ? 6 : pageCount == 3 ? 4 : 3 %}
{% set current = current < 1 ? 1 : current %}

<section class="row pagination-section">
    <nav class="pagination-custom container-fluid" aria-label="Pagination">
        {% if first is defined and current != first %}
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}"><div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">&laquo;</div></a>
        {% else %}
            <a class="disabled"><div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">&laquo;</div></a>
        {% endif %}
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        {% for page in pagesInRange if page > 0 %}
            {% if page != current %}
                <a href="{{ path(route, query|merge({(pageParameterName): page})) }}"><div class="col-xs-{{ colSize }} col-sm-{{ colSize }} col-md-{{ colSize }} col-lg-{{ colSize }}">{{ page }}</div></a>
            {% else %}
                <a class="active"><div class="col-xs-{{ colSize }} col-sm-{{ colSize }} col-md-{{ colSize }} col-lg-{{ colSize }}">{{ page }}</div></a>
            {% endif %}
        {% endfor %}
        </div>
        {% if last is defined and current != last and last > 0 %}
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}"><div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">&raquo;</div></a>
        {% else %}
            <a class="disabled"><div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">&raquo;</div></a>
        {% endif %}
    </nav>
</section>