<h3>{{ 'categories'|trans }}</h3>
<div class="cloud-container fa">
    {% for category in categories %}
        <a href="{{ path('app.category.article', {'slug': category.slug}) }}">{{ category.name }}</a>
    {% endfor %}
</div>