{% extends '@Panel/layout.html.twig' %}
{% form_theme form with ['PanelBundle:Form:default_form_layout.html.twig', _self] %}

{% block main %}
    {{ form_start(form, {action: path('panel.article.save')}) }}

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 panel-entity">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 panel-entity">
        {{ form_label(form.slug) }}
        {{ form_widget(form.slug) }}
        {{ form_errors(form.slug) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 panel-entity">
        {{ form_label(form.categories) }}
        <div class="input-group panel-entity">
            <input type="text" class="form-control search-by-data" data-search-place="#article_categories" placeholder="{{ 'search.category'|trans }}">
            <span class="input-group-btn">
                <button class="btn btn-default" id="add_new_category" type="button"><span class="fa fa-plus"></span></button>
            </span>
        </div>
        {{ form_widget(form.categories) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 panel-entity">
        {{ form_label(form.tags) }}
        <div class="input-group panel-entity">
            <input type="text" class="form-control search-by-data" data-search-place="#article_tags" placeholder="{{ 'search.tag'|trans }}">
            <span class="input-group-btn">
                <button class="btn btn-default" id="add_new_tag" type="button"><span class="fa fa-plus"></span></button>
            </span>
        </div>
        {{ form_widget(form.tags) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-entity">
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_errors(form.content) }}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 panel-entity">
        {{ form_label(form.sliceOn) }}
        {{ form_widget(form.sliceOn) }}
        {{ form_errors(form.sliceOn) }}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 panel-entity">
        {{ form_label(form.publishDate) }}
        {{ form_widget(form.publishDate) }}
        {{ form_errors(form.publishDate) }}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 form-group panel-entity checkbox-container">
        {{ form_widget(form.isPublished) }}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right panel-entity">
        <button type="submit" class="btn btn-default">{{ 'save'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}