{% if articles is not empty %}
    <h2>{{ title|trans }}</h2>
    <table class="table table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'title'|trans }}</th>
            <th scope="col">{{ 'author'|trans }}</th>
            <th scope="col">{{ 'slug'|trans }}</th>
            <th scope="col">{{ 'is.published'|trans }}</th>
            <th scope="col">{{ 'options'|trans }}</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td scope="row">{{ loop.index }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.author.username }}</td>
                <td>{{ article.slug }}</td>
                <td>{{ article.isPublished }}</td>
                <td><a class="fa fa-edit" href="{{ path('panel.article.edit', {'id': article.id}) }}" title="{{ 'edit'|trans }}"></a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}