{% extends '@App/layout.html.twig' %}

{% block pagination %}
    {{ knp_pagination_render(paginator) }}
{% endblock %}

{% block articles %}
    {% for article in paginator %}
        <article class="single-article {{ loop.last ? '' : 'bottom-line' }}">
            <h2 class="article-title">
                {{ article.title }}
            </h2>
            <div class="article-content">
                {{ (article.content|slice(0, article.sliceOn)~'...')|markdown }}
                <a class="btn btn-lg btn-read-more" href="{{ path('app.article.show', {'slug' : article.slug, 'id' : article.id}) }}">Read more</a>
            </div>
        </article>
    {% else %}
        <span class="text-info">{{ 'article.sorry.not.found'|trans }}</span>
    {% endfor %}
{% endblock %}