{% extends '@App/layout.html.twig' %}

{% block main %}
    <article class="full-article">
        <h2 class="article-title">
            {{ article.title }}
        </h2>
        <section class="article-info">
            <span class="posted-on">
                <i class="fa fa-calendar"></i>
                <time class="article-published" datetime="{{ article.publishDate|date('Y-m-d') }}">{{ article.publishDate|date('d-m-Y') }}</time>
            </span>
            <span class="posted-by">
                <a class="fa fa-user">
                    {{ article.author.username }}
                </a>
            </span>
        </section>
        <section class="article-content">
            {{ article.content|markdown }}
        </section>
    </article>
    <section class="nav-links">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% if(prev is not null) %}
                <a href="{{ path('app.article.show', {'slug' : prev.slug, 'id' : prev.id}) }}">
                    &laquo; {{ 'prev.article'|trans }}
                </a>
            {% else %}
                &laquo; {{ 'prev.no'|trans }}
            {% endif %}
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            {% if(next is not null) %}
                <a href="{{ path('app.article.show', {'slug' : next.slug, 'id' : next.id}) }}">
                    {{ 'next.article'|trans }} &raquo;
                </a>
            {% else %}
                {{ 'next.no'|trans }} &raquo;
            {% endif %}
        </div>
    </section>
    <section class="article-comments">
        {% include '@App/comment/list.html.twig' with {'comments': article.comments} %}
    </section>
    <section class="add-comment">
        {{ render(controller(
        'AppBundle:Comment:add',
        { 'articleId': article.id }
        )) }}
    </section>
{% endblock %}
{% block categories %}
    {% include '@App/category/list.html.twig' with {'categories': article.categories} %}
{% endblock %}
{% block tags %}
    {% include '@App/tag/list.html.twig' with {'tags': article.tags} %}
{% endblock %}