<nav id="sidebar-wrapper">
    <ul class="sidebar-nav" style="margin-left:0;">
        <li class="menu-bottom-line">
            <a class="toggle-menu" href="#"><i class=" fa fa-bars" aria-hidden="true"></i><span style="margin-left:10px;">{{ "menu"|trans }}</span></a>
        </li>
        <li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i><span style="margin-left:10px;">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span></a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i><span style="margin-left:10px;">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span></a>
            {% endif %}
        </li>
        <li>
            <a href="{{ path('app.project.list') }}"><i class="fa fa-bookmark" aria-hidden="true"></i><span style="margin-left:10px;">{{ 'app.projects'|trans }}</span></a>
        </li>
    </ul>
</nav>