{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{#{% if error %}#}
    {#<div>{{ error|trans({}, 'FOSUserBundle') }}</div>#}
{#{% endif %}#}
<form action="{{ path("fos_user_security_check") }}" method="post" id="login-form" class="center col-xs-10 col-sm-8 col-md-6 col-lg-6">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <h1 class="text-center" id="blinking"> {{ 'login.please'|trans }} </h1>
    <input class="border login-field col-xs-12 col-sm-12 col-md-12 col-lg-12" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" required="required" />
    <input class="border login-field col-xs-12 col-sm-12 col-md-12 col-lg-12" type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" autocomplete="new-password" />

    <div class="[ login-field col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-none form-group ]">
        <input class="border" type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <div class="[ btn-group ]">
            <label for="remember_me" class="[ btn btn-primary ]">
                <span class="[ glyphicon glyphicon-ok ]"></span>
                <span> </span>
            </label>
            <label for="remember_me" class="[ btn btn-default active ]">
                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
            </label>
        </div>
    </div>

    <input class="border login-field col-xs-12 col-sm-12 col-md-12 col-lg-12" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
{% endblock fos_user_content %}
