{% extends '@Panel/layout.html.twig' %}

{% block main %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |

    {{ render(controller('PanelBundle:Comment:latest')) }}

    {{ render(controller('PanelBundle:Article:notPublished')) }}

{% endblock %}