{% extends '@Panel/layout.html.twig' %}

{% block main %}

    <table class="table table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'name'|trans }}</th>
            <th scope="col">{{ 'slug'|trans }}</th>
            <th scope="col">{{ 'options'|trans }}</th>
        </tr>
        {% for tag in paginator %}
            <tr {{ edited == tag ? 'style="background-color: #999999"' : '' }} >
                <td scope="row">{{ loop.index }}</td>
                <td>{{ tag.name }}</td>
                <td>{{ tag.slug }}</td>
                <td><a class="fa fa-edit" href="{{ path('panel.tag.edit', {'id': tag.id}) }}" title="{{ 'edit'|trans }}"></a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}