{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set form_method = "POST" %}
    <form class="panel-container" name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}

{%- block textarea_widget -%}
    <textarea class="form-control markdown-editor" rows="4" {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block form_errors -%}
    <small class="help-block" style="display: none;"></small>
{%- endblock form_errors -%}

{%- block date_widget -%}
    {%- if widget == 'single_text' -%}
        {%- set type = type|default('text') -%}
        <input type="{{ type }}" class="form-control js-datepicker" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
            })|raw -}}
        </div>
    {%- endif -%}
{%- endblock date_widget -%}

{%- block checkbox_widget -%}
    <input class="border" type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}  />
    <div class="[ btn-group ]">
        <label for="{{ id }}" class="[ btn btn-primary ]">
            <span class="[ glyphicon glyphicon-ok ]"></span>
            <span> </span>
        </label>
        <label for="{{ id }}" class="[ btn btn-default active ]">
            {{ label|trans }}
        </label>
    </div>
{%- endblock checkbox_widget -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div data-name="{{ child.vars.label }}" class="form-group search-elements {% if child.vars.checked %} knight-series {% else %} ninja {% endif %}">
                {{- form_widget(child) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}