{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    {% if multiple %}
        <ul {{ block('widget_attributes') }}>
            {{- block('list_widget_options') -}}
        </ul>
    {% else %}
        <select {{ block('widget_attributes') }}>
            {%- if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
            {%- endif -%}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {%- if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif -%}
            {%- endif -%}
            {%- set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    {% endif %}

{%- endblock choice_widget_collapsed -%}

{%- block list_widget_options -%}
    {% for group_label, choice in options %}
        {% if choice is selectedchoice(value) %} selected="selected"
            <li>
                <input type="hidden" value="{{ choice.value }}"{% if choice.attr %} {% set attr = choice.attr %} {{ block('attributes') }}{% endif %} />
                <span>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</span>
            </li>
        {% endif %}
    {% endfor %}
{%- endblock list_widget_options -%}