{% if comments is not empty %}
    <h2>{{ title|trans }}</h2>
    <table class="table table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'author'|trans }}</th>
            <th scope="col">{{ 'email'|trans }}</th>
            <th scope="col">{{ 'page'|trans }}</th>
            <th scope="col">{{ 'article'|trans }}</th>
            <th scope="col">{{ 'add_date'|trans }}</th>
            <th scope="col">{{ 'options'|trans }}</th>
        </tr>
        {% for comment in comments %}
            <tr>
                <td scope="row">{{ loop.index }}</td>
                <td>{{ comment.userName }}</td>
                <td>{{ comment.userEmail }}</td>
                <td>{{ comment.userPage }}</td>
                <td><a href="{{ path('panel.article.edit', {'id': comment.article.id}) }}">{{ comment.article.title }}</a></td>
                <td>{{ comment.addDate|date("Y-m-d H:i:s") }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}